.DisplayArea-container {
    margin: auto;

    table {
        thead {
            tr {
                td {
                    text-align: center;
                    font-weight: bold;
                    border: 1px solid black;
                    border-collapse: collapse;
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    padding: 5px;
                }
            }
        }
    }
}

.formAddSV {
    input {
        margin-left: 5px;
    }

    select {
        margin-left: 5px;
    }
}